/* Default CSS*/
html{
    padding: 0px;
    font-family: 'Open Sans', sans-serif;
}
body{
    width: 70%;
    margin: auto;
}
p{
    font-family: inherit;
}
a{
    font-family: inherit;
    display: flex
}
h1{
    font-family: inherit;
    text-align: center;
}
img{
    max-width: 256px;
    padding: 20px;
    text-align: left;
}
entry{
    float: left;
    width: 40%;
    margin: 20px;
    padding: 5px;
}
/* Light Theme*/
@media(prefers-color-scheme: light){
    html{
        background-color: #cccccc;
}
}
/* Dark Theme*/
@media(prefers-color-scheme: dark){
    html{
        background-color: #303030;
    }
}